@model ReportViewModel
    <div class="slim-pageheader pd-10">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item active">راپور</li>
            <li class="breadcrumb-item active" aria-current="page">ماهوار</li>

        </ol>
    </div>



<div id="print" class="col-12 col-lg-10 col-xl-8" style="border:1px solid white">
    <div class="card shadow">
        <div class="card-body p-lg-4">
            <div class="row">
                <div class="col-12 text-center mb-1 logo">
                    <img src="~/assets/Logo/logo-sm-02.png" class="logo" width="200">
                    <h2 class="mb-0 text-uppercase">راپور مالی ماه وار</h2>
                    <hr />
                </div>
            </div> <!-- /.row -->
            <table border="1" class="table table-borderless table-striped tstayle" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">شماره</th>
                        <th scope="col">تفصیلات</th>
                        <th scope="col" class="text-center">تاریخ</th>
                        <th scope="col" class="text-right">مقدار ورودی</th>
                        <th scope="col" class="text-right">مقدار خروجی</th>
                    </tr>
                </thead>
                <tbody>
                    @{int counter = 1; int Tin = 0, Tout = 0; }
                    @foreach (var temp in Model.Report)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td class="text-left">@temp.Description</td>
                            <td>@(new ShamisDateTime.PersianDateTime(temp.Date).ToShortDateString())</td>
                            <td class="text-center">@temp.MoneyIn</td>
                            <td class="text-center">@temp.MoneyOut</td>
                        </tr>
                        Tin += temp.MoneyIn;
                        Tout += temp.MoneyOut;
                        counter++;
                    }
                </tbody>
                <tfoot>
                    <tr style="color:red">
                        <th colspan="4">جمع کل ورودی</th>
                        <th class="text-right">@Tin</th>
                    </tr>
                    <tr style="color:red">
                        <th colspan="4">جمع کل خروجی</th>
                        <th class="text-right">@Tout</th>
                    </tr>
                </tfoot>
            </table>
        </div> <!-- /.card-body -->
    </div> <!-- /.card -->
</div>
<button class="btn btn-primary fe fe-16 fe-printer mt-1" onclick="PrintElem('print')"> چاپ</button>

<a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-1"><i class="fe fe-16 fe-corner-up-left">  برگشت</i></a>

@section Scripts{
    <script>

        $(document).ready(function () {


        });

        function PrintElem(elem) {
            var data = document.getElementById(elem).innerHTML;
            Popup($(data).html());
        }

        function Popup(data) {
            var mywindow = window.open('', 'new div', 'height=700,width=900');
            mywindow.document.write('<html><head><title>PrintBill</title>');
            mywindow.document.write('<style>body{}.logo{text-align:center}.custname{text-align:right;direction:ltr;}.tstayle{ direction:rtl;}td{text-align:center}tr:nth-child(odd){background:cornflowerblue}tr:nth-child(even){background:deepskyblue}</style>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(data);
            mywindow.document.write('</body></html>');

            mywindow.print();
            mywindow.close();
            mywindow.focus();
            setTimeout(function () { mywindow.print(); }, 1000);
            mywindow.close();

            return true;
        }

    </script>
}