@model IEnumerable<IdentityRole>
    <div class="slim-pageheader pd-10">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item active">مدیریت</li>
            <li class="breadcrumb-item active" aria-current="page">لیست رول</li>

        </ol>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong class="text-danger">معلومات!</strong> @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }
    <h1>رول ها</h1>
    @*<a class="btn btn-primary mt-2" asp-action="CreateRole" asp-controller="Administration">
            ایجاد رول
        </a>*@
    @if (Model.Any())
    {
        foreach (var role in Model)
        {
            <div class="card">
                <div class="card-header">
                    Role Id: @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary fe fe-24 fe-edit" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">ویرایش</a>
                    @*<a class="btn btn-danger fe fe-24 fe-trash-2" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" onclick="return confirm('رول حذف شود؟')"> حذف</a>
                    *@
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                هیچ رول موجود نیست
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    با استفاده از دکمه پایین رول جدید ایجاد کنید
                </h5>
                <a class="btn btn-primary mt-2" asp-action="CreateRole" asp-controller="Administration">
                    ایجاد رول
                </a>
            </div>
        </div>
    }