@model CustomerModel
    <div class="slim-pageheader pd-10">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item active">مهمان</li>
            <li class="breadcrumb-item active" aria-current="page">افزودن</li>

        </ol>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong class="text-info">معلومات!</strong> @TempData["Message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    <div class="card shadow mb-4">
        <div class="card-header">
            <strong class="card-title">مهمان جدید</strong>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Add" asp-controller="Customer">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="@Model.FullName"></label>
                        <input asp-for="@Model.FullName" name="FullName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.Address"></label>
                        <input asp-for="@Model.Address" name="Address" class="form-control" autocomplete="off" />
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.Phone"></label>
                        <input asp-for="@Model.Phone" name="Phone" type="number" class="form-control" autocomplete="off" />
                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.EntryDateString"></label>
                        <input name="EntryDateString" type="text" class="form-control shamsi-date-picker" autocomplete="off" />
                        <span asp-validation-for="@Model.EntryDateString" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">

                        <label asp-for="@Model.RoomId"></label>
                        <select asp-items="@Model.RoomList" name="RoomId" class="form-control select2" id="simple-select2"></select>
                        <span asp-validation-for="@Model.RoomId" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <button type="submit" class="btn btn-primary fe fe-24 fe-save"> ثبت</button>
                <a asp-action="List" asp-controller="Customer" class="btn btn-danger fe fe-16 fe-x-square"> لغو</a>
            </form>
        </div>
    </div>



    @section scripts{
        <script>
            $(document).ready(function () {
                $("input.shamsi-date-picker").persianDatepicker({ showGregorianDate: !1 });
            });
        </script>
    }